button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 20rem;
  width: 100%;

  border: 0;
  background: #805ad5;
  padding: 1.1875rem 2rem;
  border-radius: 0.25rem;

  font-size: 1.125rem;
  color: #e9d8fd;

  &:hover {
    background: #6b46c1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }

  &:active {
    background: #553c9a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }

  transition: background 200ms;

  & + button {
    margin-top: 1rem;
  }

  &:first-child {
    margin-top: 0;
  }

  &.selected {
    background: #553c9a;
    color: #e9d8fd;
  }
}
