:root {
  --background: #181b23;
  --background2: #1f2029;
  --background-button: #373945;
  --background-button2: #4b4d59;
  --yellow: #fae800;
  --gray: #bec2c6;
  --white: #fbfbfb;
  --purple: #805ad5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px 'Poppins', Arial, sans-serif;
  color: #fbfbfb;
  background: var(--background);
}

input,
textarea {
  font-family: 'Poppins';
}

button {
  cursor: pointer;
}
